<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h4>Lista de Palestrantes</h4>

    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Nome do Palestrante</th>
        </tr>
      </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Ver', user, class: "waves-effect waves-light btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
