<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Mensagem</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.message %></td>
        <td><%= link_to 'Marcar como lida', mark_notification_users_path(notification_id: notification.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
